.characters {
  padding: 100px 0;

  @include mobile {
    padding: 60px 0;
  }

  @include mobile-s {
    padding: 40px 0;
  }

  &__title {
    transform: translateX(-150%);
    transition: transform 1.2s ease-in-out;

    &--active {
      transform: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    justify-content: center;
    gap: 20px;
  }

  &__nav {
    margin-bottom: 50px;
  }

  &__nav-list {
    border: var(--border);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      border: none;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 310px;
    height: 59px;
    border-radius: 100px;

    @include mobile {
      max-width: 280px;
      height: 50px;
    }

    @include hover {
      background-color: var(--color-main);
    }
  }

  &__nav-button {
    @include reset-button;
    @include fluid-text(18, 14);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.01em;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    &:focus {
      background-color: var(--color-main);
    }
  }
}
