.hero {
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, #000 100%),
    url('/images/hero/hero.jpg');
  background-position: top 10% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 100px;
  overflow-y: hidden;

  &__volume {
    @include reset-button;
    @include flex-center;

    position: relative;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid var(--color-fourth);
    color: var(--color-fourth);
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    animation: flash 1.5s infinite alternate;

    &-close {
      @include abs-center;

      border: 2px solid var(--color-fourth);
      width: 30px;
      transform: rotate(-45deg);
      display: none;
    }

    &-close--active {
      display: block;
    }

    &:active {
      transform: translateY(3px);
    }

    @include hover {
      color: var(--color-third);
      animation-play-state: paused;
    }

    @keyframes flash {
      0% {
        box-shadow: 0 0 2px 2px var(--color-third);
      }

      100% {
        box-shadow: 0 0 8px 8px var(--color-third);
      }
    }

    @include mobile-s {
      left: auto;
      right: 10px;
    }
  }

  @include desktop {
    padding-bottom: 80px;
  }

  @include tablet {
    padding-bottom: 60px;
  }

  @include mobile {
    padding-bottom: 40px;
  }

  &__title {
    @include fluid-text(150, 36);

    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-third);
    transform: translate(0, 200%);
    transition: transform 1.2s ease-in-out;
    user-select: none;
    animation: scale 2s infinite alternate;
    animation-delay: 1.7s;

    &--active {
      transform: none;
    }

    @include hover {
      animation-play-state: paused;
    }

    @keyframes scale {
      0% {
        transform: scale(1);
        color: var(--color-third);
      }

      100% {
        transform: scale(1.03);
        color: var(--color-secondary);
      }
    }
  }
}
