.personage-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 450px;
  border-radius: 16px;
  padding: 20px;
  transition: transform 0.4s ease;

  &--active {
    transform: rotate3d(1, 0, 0, 80deg);
  }

  @include tablet-above {
    background: linear-gradient(
      to top,
      rgba(15, 15, 15, 1) 12%,
      rgba(15, 15, 15, 0.74) 49%,
      rgba(15, 15, 15, 0) 73%
    );
  }

  &__container > * {
    margin-bottom: 3px;
  }

  &__container > *:last-child {
    margin-bottom: 15px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  &__title {
    @include fluid-text(26, 18);

    line-height: 1.4;
    color: var(--color-third);
    margin-bottom: 5px;
  }

  &__text,
  &__school,
  &__birthday,
  &__button-label {
    @include fluid-text(16, 14);

    line-height: 1.4;
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button-label {
    color: var(--color-third);
    transition: color 0.3s ease-in-out;

    @include hover {
      color: var(--color-secondary);
    }
  }

  &__button-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &__button-label:hover + &__button-wrapper {
    opacity: 1;
    visibility: visible;
  }

  &__button-wrapper::after {
    @include square(20px);

    content: '';
    position: absolute;
    top: 1px;
    right: -38px;
    border-radius: 50%;
    border: var(--border);
    background-color: var(--color-secondary);
  }

  &__button-wrapper svg {
    position: absolute;
    top: 4px;
    right: -32px;
    z-index: 3;
    color: var(--color-third);
  }
}
