body {
  @include fluid-text(16, 16);

  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-main);
  background-color: var(--color-fourth);
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 6px;
}

main {
  flex-grow: 1;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}
