:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Bluu Next Cyrillic', sans-serif;

  --color-main: #fabf59;
  --color-secondary: #f9b50c;
  --color-third: #ffffff;
  --color-fourth: #1d1d1d;

  --border: 1px solid var(--color-secondary);
  --border-radius: 100px;

  --shadow: 0 0 2px 2px var(--color-secondary);

  --container-width: 1240px;
  --container-padding-x: 20px;

  --button-height: 60px;

  --transition-duration: 0.2s;
}
